page-my-like {
    .dv_hot_q {
        margin-bottom: 12px;
        box-shadow: 0 1px 4px #c4c6c8;
        background: #fff;
    }
    .dv_item {
        width: 100%;
        background: #fff;
        box-shadow: 0 1px 4px #c4c6c8;
        margin-bottom: 8px;
        padding: 2% 3.5%;
        overflow: hidden;
        h6 {
            font-size: 1.6rem;
            line-height: 2rem;
            margin: 12px 0;
        }
        p {
            margin: 0;
            font-size: 1.2rem;
            line-height: 1.5rem;
            color: #4f5254;
        }
    }
    .dv_hot_w .dv_item {
        margin-bottom: 12px;
    }
    .dv_item_head {
        width: 100%;
        height: 30px;
        color: #c8ced1;
        img {
            float: left;
            width: 30px;
            height: 30px;
            border-radius: 99999px;
            display: inline-block;
            margin-right: 5px;
        }
        p {
            line-height: 30px;
            float: left;
        }
        .time {
            float: right;
            line-height: 30px;
        }
    }
    .dv_item_banner {
        width: 100%;
        height: 150px;
        background-size: cover;
        margin-top: 6px;
    }
    .dv_item_bottom {
        line-height: 36px;
        color: #c8ced1;
        p {
            line-height: 38px;
        }
    }
    .dv_item_bottom {
        line-height: 36px;
        color: #c8ced1;
        p {
            line-height: 38px;
        }
    }
    .wrap {
        width: 100%;
        overflow: hidden;
        padding: 10px 0;
        .imgs {
            width: 7.5rem;
            height: 7.5rem;
            margin-right: 5px;
            margin-bottom: 5px;
            float: left;
            background-size: cover !important;
            background-position: center center !important;
            background-repeat: no-repeat !important;
        }
    }
}