<ion-content>
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide" style="background: url('http://7xp2ia.com1.z0.glb.clouddn.com/banner5.png')"></div>
            <div class="swiper-slide" style="background: url('http://7xp2ia.com1.z0.glb.clouddn.com/banner2.png')"></div>
            <div class="swiper-slide" style="background: url('http://7xp2ia.com1.z0.glb.clouddn.com/banner3.png')"></div>
            <div class="swiper-slide" style="background: url('http://7xp2ia.com1.z0.glb.clouddn.com/banner4.png')"></div>
            <div class="swiper-slide" style="background: url('http://7xp2ia.com1.z0.glb.clouddn.com/banner1.png')"></div>

        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>

    <section class="dv_box">
        <div class="dv_items" (click)="pushQueList();">
            <i class="iconfont icon-document" color="icon-telephone"></i>
            <p>问题列表</p>
        </div>
        <div class="dv_items" (click)="pushHotWork();">
            <i class="iconfont icon-notebook" color="icon-notebook"></i>
            <p>热门作品</p>
        </div>
        <div class="dv_items" (click)="pushHotAnswer();">
            <i class="iconfont icon-basket" color="icon-shop"></i>
            <p>精品回答</p>
        </div>
        <div class="dv_items" (click)="pushHotShare();">
            <i class="iconfont icon-trophy" color="icon-pencil"></i>
            <p>人气分享</p>
        </div>
    </section>

    <ion-list>
        <ion-list-header>
            <p>分享时刻</p>
            <!--<i style="float: right">查看全部</i>-->
            <span>分享我们此时此刻的心情...</span>
        </ion-list-header>
    </ion-list>


    <section class="dv_hot_q dv_hot_w">

        <!--重复-->
        <section *ngFor="let item of data" class="dv_item" (click)="pushOpenSharePage( item._id );">
            <section class="dv_item_head">
                <img [src]="item.userimg" />
                <p>{{item.name}} 分享了心情</p>
                <span class="time">{{item.time | date}}</span>
            </section>

            <section class="wrap">
                <div *ngFor="let item2 of item.img" class="imgs" [style.background]="'url('+item2.src+')'"></div>
            </section>

            <p>{{item.text}}</p>
            <section class="dv_item_bottom">
                <p>{{item.mark.like}} 点赞 • {{item.mark.cont}} 评论</p>
            </section>
        </section>


    </section>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>