page-article {
    ion-header,
    .toolbar-title,
    ion-footer,
    ion-navbar {
        transition: all 1000ms cubic-bezier(.19, 1.12, .65, .91);
    }
    ion-footer {
        ion-icon {
            display: block;
        }
        .dv_f {
            float: right;
            text-align: center;
            width: 20%;
            color: #777777;
        }
    }
    .scroll-content {
        margin-top: 0 !important;
        padding-top: 0px;
        margin-bottom: 0 !important;
    }
    .dv_banner {
        background-size: cover !important;
        background-position: center center !important;
        width: 100%;
        height: 190px;
    }
    .user {
        width: 100%;
        height: 65px;
        padding: 10px;
        background: #fff;
        box-shadow: 0 0 4px #c4c6c8;
        img {
            width: 45px;
            height: 45px;
            border-radius: 99999px;
            float: left;
            margin-right: 12px;
        }
        .data {
            float: left;
            width: 54%;
            h4,
            p {
                margin: 0 !important;
                font-size: 1.2rem;
                line-height: 22px;
            }
        }
        .fork {
            width: 65px;
            height: 34px;
            font-size: 1.2rem;
            line-height: 34px;
            float: right;
            border: 1px solid #1e8ae8;
            color: #1e8ae8;
            text-align: center;
            position: relative;
            top: 5px;
        }
    }
    .dv_content {
        width: 100%;
        padding: 3%;
        h6 {
            color: #d3c5a1;
            padding-bottom: 12px;
        }
        span {
            color: #d3c5a1;
        }
        ion-row {
            border-block-end: 1px solid #f3f4f5;
            margin-bottom: 8px;
        }
        .dv_imgs {
            width: 100%;
            height: 180px;
            background-size: cover !important;
            background-position: center center !important;
            margin-bottom: 35px;
        }
        .dv_tips {
            width: 100%;
            background: #f3f4f5;
            color: #717171;
            padding: 2%;
            margin-bottom: 30px;
        }
    }
    .animate {
        top: -90px;
    }
    .bule {
        background: #1e8ae8 !important;
    }
    .footanimate {
        bottom: -78px;
    }
}