<ion-header no-border [class.animate]="tabanimate">

    <ion-navbar color="tran" [class.bule]="tabbule">
        <ion-title>{{data.title}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
              <ion-icon name="share"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only>
              <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content (ionScroll)="onScroll($event)">
    <section class="dv_banner" [style.background]="'url('+data.workbanner+')'"></section>
    <section class="user">
        <img (click)="pushPersonPage( data.uid );" [src]="data.userimg" />
        <section (click)="pushPersonPage( data.uid );" class="data">
            <h4>{{data.name}}</h4>
            <p>创建于：{{data.time}}</p>
        </section>
        <section [hidden]="ishide" class="fork" (click)="fork();">＋ 关注</section>
        <section [hidden]="!ishide" class="fork nofork">＋ 关注</section>
    </section>

    <section class="dv_content">
        <h3>{{data.title}}</h3>
        <p>{{data.text}}</p>
        <h6>用料：</h6>

        <ion-row *ngFor="let item of data.food">
            <ion-col>
                <div>{{item.name}}</div>
            </ion-col>
            <ion-col>
                <div>{{item.len}}</div>
            </ion-col>
        </ion-row>


        <h6>做法：</h6>
        <div *ngFor="let item of data.work; let i=index">
            <p><span>{{i+1}}：</span>{{item.text}}</p>
            <section *ngIf="item.src != ''" class="dv_imgs" (click)="pswpElementInit(i);" [style.background]="'url('+item.src+')'"></section>
        </div>
        <h6 *ngIf="data.tip != ''">提示：</h6>
        <section *ngIf="data.tip != ''" class="dv_tips">
            <p>{{data.tip}}</p>
        </section>

    </section>

</ion-content>

<ion-footer [class.footanimate]="tabanimate">
    <ion-toolbar color='fff'>
        <div class="dv_f" (click)="openComments();">
            <ion-icon name="text"></ion-icon>
            123
        </div>
        <div [hidden]="iscoll" class="dv_f" (click)="collect();">
            <ion-icon name="star-outline"></ion-icon>
            收藏
        </div>
        <div [hidden]="!iscoll" class="dv_f" (click)="discollect();">
            <ion-icon name="star"></ion-icon>
            取消收藏
        </div>
        <div [hidden]="isthank" class="dv_f" (click)="thank();">
            <ion-icon name="heart-outline"></ion-icon>
            感谢
        </div>
        <div [hidden]="!isthank" class="dv_f">
            <ion-icon name="heart"></ion-icon>
            已感谢
        </div>

    </ion-toolbar>

</ion-footer>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>