<ion-header>

    <ion-navbar color="bule">
        <ion-title>私信</ion-title>
    </ion-navbar>

</ion-header>


<ion-content [class.nomessage]="nomessage">

    <ion-list>

        <ion-item (click)="pushChatPage( item.targetId, item.latestMessage['direct'], i );" *ngFor="let item of list; let i=index">
            <ion-avatar item-left>
                <img *ngIf="item.latestMessage['direct'] == 'receive'" [src]="item.latestMessage.content.contentStringMap.userimg">
                <img *ngIf="item.latestMessage['direct'] == 'send'" [src]="item.latestMessage.content.contentStringMap.targuserimg">
            </ion-avatar>

            <h2 *ngIf="item.latestMessage['direct'] == 'receive'">{{item.latestMessage.content.contentStringMap.name}}</h2>
            <h2 *ngIf="item.latestMessage['direct'] == 'send'">{{item.latestMessage.content.contentStringMap.toUserName}}</h2>
            <p>{{item.latestMessage.content.contentStringMap.cont}}</p>
            <ion-note item-right>{{item.lastMsgDate | date:'jm'}}</ion-note>
        </ion-item>


    </ion-list>

</ion-content>