page-home {
    .searchbar-input {
        color: #fff !important;
    }
    ion-header {
        transition: top 1000ms cubic-bezier(.19, 1.12, .65, .91);
    }
    ion-content {
        background-color: #f2f4f7 !important;
        .dv_load {
            width: 5rem;
            height: 5rem;
            background: #fff;
            display: block;
            position: absolute;
            left: calc( 50% - 2.5rem);
            border-radius: 99999px;
            box-shadow: 0 0 10px #797979;
        }
    }
    .dv_load_tran {
        transition: top 400ms;
    }
    .dv_item {
        width: 100%;
        background: #fff;
        box-shadow: 0 1px 4px #c4c6c8;
        margin-bottom: 8px;
        padding: 2% 3.5%;
        overflow: hidden;
        h6 {
            font-size: 1.6rem;
            line-height: 2rem;
            margin: 12px 0;
        }
        p {
            margin: 0;
            font-size: 1.2rem;
            line-height: 1.5rem;
            color: #4f5254;
        }
    }
    .dv_item_head {
        width: 100%;
        height: 30px;
        color: #c8ced1;
        img {
            float: left;
            width: 30px;
            height: 30px;
            border-radius: 99999px;
            display: inline-block;
            margin-right: 5px;
        }
        p {
            line-height: 30px;
        }
    }
    .dv_item_banner {
        width: 100%;
        height: 150px;
        background-size: cover !important;
        background-position: center center !important;
        margin-top: 6px;
    }
    .dv_item_bottom {
        line-height: 36px;
        color: #c8ced1;
        p {
            line-height: 38px;
        }
    }
    .scroll-content {
        margin-top: 0 !important;
        padding-top: 64px;
        margin-bottom: 5rem !important;
    }
    .animate {
        top: -90px;
    }
    ion-fab[bottom][edge] {
        bottom: 22px;
    }
    .ouro {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background: none repeat scroll 0 0 #DDDDDD;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1) inset, 0 0 25px rgba(0, 0, 255, 0.075);
    }
    .ouro:after {
        content: "";
        position: absolute;
        top: 15%;
        left: 15%;
        display: block;
        height: 70%;
        width: 70%;
        background: none repeat scroll 0 0 #ffffff;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    }
    .ouro>span {
        position: absolute;
        height: 100%;
        width: 50%;
        overflow: hidden;
    }
    .left {
        left: 0
    }
    .right {
        left: 50%
    }
    .anim {
        position: absolute;
        left: 100%;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 999px;
        background: none repeat scroll 0 0 #1e8ae7;
        opacity: 0.8;
        transform-origin: 0 50% 0;
    }
    .load_move {
        -webkit-animation: ui-spinner-rotate-left 3s infinite;
        animation: ui-spinner-rotate-left 3s infinite;
        -webkit-transform-origin: 0 50% 0;
    }
    .left .anim {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .right .anim {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        left: -100%;
        -webkit-transform-origin: 100% 50% 0;
        transform-origin: 100% 50% 0;
    }
    /* round variation */
    .round .ouro:after {
        display: none
    }
    /* double variation */
    .double .ouro:after {
        height: 13px;
        width: 13px;
        left: 7px;
        top: 7px;
        border: 10px solid #ddd;
        background: transparent;
        box-shadow: none;
    }
    @keyframes ui-spinner-rotate-right {
        0% {
            transform: rotate(0deg)
        }
        25% {
            transform: rotate(180deg)
        }
        50% {
            transform: rotate(180deg)
        }
        75% {
            transform: rotate(360deg)
        }
        100% {
            transform: rotate(360deg)
        }
    }
    @keyframes ui-spinner-rotate-left {
        0% {
            transform: rotate(0deg)
        }
        25% {
            transform: rotate(0deg)
        }
        50% {
            transform: rotate(180deg)
        }
        75% {
            transform: rotate(180deg)
        }
        100% {
            transform: rotate(360deg)
        }
    }
    @-webkit-keyframes ui-spinner-rotate-right {
        0% {
            -webkit-transform: rotate(0deg)
        }
        25% {
            -webkit-transform: rotate(180deg)
        }
        50% {
            -webkit-transform: rotate(180deg)
        }
        75% {
            -webkit-transform: rotate(360deg)
        }
        100% {
            -webkit-transform: rotate(360deg)
        }
    }
    @-webkit-keyframes ui-spinner-rotate-left {
        0% {
            -webkit-transform: rotate(0deg)
        }
        25% {
            -webkit-transform: rotate(0deg)
        }
        50% {
            -webkit-transform: rotate(180deg)
        }
        75% {
            -webkit-transform: rotate(180deg)
        }
        100% {
            -webkit-transform: rotate(360deg)
        }
    }
}