<ion-header [class.animate]="tabanimate">
    <ion-navbar color="bule">

        <ion-searchbar placeholder="搜索"></ion-searchbar>

    </ion-navbar>
</ion-header>

<ion-content class="content" (touchend)="ontouchend($event)" (touchmove)="ontouchmove($event)" (touchstart)="ontouchstart($event)" (ionScroll)="onScroll($event)">

    <span class="dv_load" [class.dv_load_tran]="spanisload" [style.top]="loadX">
        <span class="ouro">
            <span class="left">
                <span [class.load_move]="isload" class="anim"></span>
    </span>
    <span class="right">
                <span [class.load_move]="isload" class="anim"></span>
    </span>
    </span>
    </span>

    <!--重复-->
    <section class="dv_item" *ngFor="let item of items">
        <section class="dv_item_head">
            <img [src]="item.userimg" />
            <p *ngIf="item.type == '0'">{{item.name}} 回答了问题</p>
            <p *ngIf="item.type == '1'">{{item.name}} 分享的作品</p>
        </section>
        <section *ngIf="item.type == '1'" (click)="pushArticlePage( item._id, item.uid, item.type );" class="dv_item_banner" [style.background]="'url('+item.workbanner+')'"></section>
        <h6 *ngIf="item.type == '0'" (click)="pushQuestionPage( item._id, item.uid, item.type );">{{item.title}}</h6>
        <h6 *ngIf="item.type == '1'" (click)="pushArticlePage( item._id, item.uid, item.type );">{{item.title}}</h6>
        <div *ngIf="item.type == '0'" (click)="pushAnswerPage( item._id, item.uid, item.type );">
            <p>{{item.text}}</p>
            <section class="dv_item_bottom">
                <p>{{item.mark.think}} 感谢 • {{item.mark.collect}} 收藏 • {{item.mark.cont}} 评论</p>
            </section>
        </div>
        <p *ngIf="item.type == '1'" (click)="pushArticlePage( item._id, item.uid, item.type );">{{item.text}}</p>
        <section *ngIf="item.type == '1'" class="dv_item_bottom">
            <p>{{item.mark.think}} 感谢 • {{item.mark.collect}} 收藏 • {{item.mark.cont}} 评论</p>
        </section>
    </section>

    <!--发布按钮-->
    <ion-fab right bottom edge #327eff>
        <button ion-fab><ion-icon name="arrow-dropup"></ion-icon></button>
        <ion-fab-list side="top">
            <button (click)="CreateQuestion()" ion-fab><ion-icon name="help"></ion-icon></button>
            <button (click)="CreateShare()" ion-fab><ion-icon name="images"></ion-icon></button>
            <button (click)="CreateCook()" ion-fab><ion-icon name="clipboard"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>
</ion-content>