page-perhome {
    ion-content {
        background-color: #f2f4f7 !important;
    }
    ion-list {
        box-shadow: 0 0 4px #c4c6c8;
        margin-bottom: 0 !important;
    }
    .dv_div ion-list {
        box-shadow: 0 0 0px transparent !important;
    }
    .item-md {
        color: #797979 !important;
    }
    .list-header {
        background: transparent !important;
        border: none !important;
        margin-bottom: 0 !important;
    }
    .dv_list {
        width: 100%;
        .dv_item {
            width: 100%;
            background: #fff;
            box-shadow: 0 1px 4px #c4c6c8;
            margin-bottom: 8px;
            padding: 2% 3.5%;
            overflow: hidden;
            h6 {
                font-size: 1.6rem;
                line-height: 2rem;
                margin: 12px 0;
            }
            p {
                margin: 0;
                font-size: 1.2rem;
                line-height: 1.5rem;
                color: #4f5254;
            }
        }
        .dv_item_head {
            width: 100%;
            height: 30px;
            color: #c8ced1;
            margin-bottom: 8px;
            img {
                float: left;
                width: 30px;
                height: 30px;
                border-radius: 99999px;
                display: inline-block;
                margin-right: 5px;
            }
            p {
                line-height: 30px;
            }
        }
        .dv_item_banner {
            width: 100%;
            height: 150px;
            background-size: cover !important;
            background-position: center center !important;
            margin-top: 6px;
        }
        .dv_item_bottom {
            line-height: 36px;
            color: #c8ced1;
            p {
                line-height: 38px;
            }
        }
    }
}