<ion-content class="content overflow" id="dv_perhome">

    <ion-list no-border>

        <ion-item (click)="pushMyWorkPage();">
            <ion-icon name='eye' item-left color="h"></ion-icon>
            {{tar}}的作品
        </ion-item>
        <ion-item (click)="pushMyAnswerPage();">
            <ion-icon name='star' item-left color="h"></ion-icon>
            {{tar}}的回答
        </ion-item>
        <ion-item (click)="pushMyQuestionPage();">
            <ion-icon name='document' item-left color="h"></ion-icon>
            {{tar}}的提问
        </ion-item>
        <ion-item (click)="pushMySharePage();">
            <ion-icon name='time' item-left color="h"></ion-icon>
            {{tar}}的分享
        </ion-item>
        <ion-item (click)="pushFocusPage();">
            <ion-icon name='bookmarks' item-left color="h"></ion-icon>
            {{tar}}的关注
        </ion-item>

    </ion-list>
    <div class="dv_div" [hidden]="ishide">
        <ion-list no-border>
            <ion-list-header>
                最新动态
            </ion-list-header>
        </ion-list>
    </div>

    <section class="dv_list">
        <!--重复-->
        <section class="dv_item" *ngFor="let item of items">
            <section class="dv_item_head">
                <img [src]="item.userimg" />
                <p *ngIf="item.type == '0'">{{item.name}} 回答了问题</p>
                <p *ngIf="item.type == '1'">{{item.name}} 分享的作品</p>
            </section>
            <section *ngIf="item.type == '1'" (click)="pushArticlePage( item._id );" class="dv_item_banner" [style.background]="'url('+item.workbanner+')'"></section>
            <h6 *ngIf="item.type == '0'" (click)="pushQuestionPage( item.answerid );">{{item.title}}</h6>
            <h6 *ngIf="item.type == '1'" (click)="pushArticlePage( item._id );">{{item.title}}</h6>
            <div *ngIf="item.type == '0'" (click)="pushAnswerPage( item._id );">
                <p>{{item.dec}}</p>
                <section class="dv_item_bottom">
                    <p>{{item.mark.think}} 感谢 • {{item.mark.collect}} 收藏 • {{item.mark.cont}} 评论</p>
                </section>
            </div>
            <p *ngIf="item.type == '1'" (click)="pushArticlePage( item._id );">{{item.text}}</p>
            <section *ngIf="item.type == '1'" class="dv_item_bottom">
                <p>{{item.mark.think}} 感谢 • {{item.mark.collect}} 收藏 • {{item.mark.cont}} 评论</p>
            </section>
        </section>
    </section>
</ion-content>