page-discover {
    ion-content {
        background-color: #f2f4f7 !important;
    }
    .iconfont {
        font-size: 2rem;
    }
    .swiper-container {
        padding-top: 10px;
        width: 100%;
        height: 180px;
        text-align: center;
        font-size: 25px;
        color: #fff;
        .swiper-slide {
            background-size: cover;
        }
    }
    .dv_box {
        box-shadow: 0 1px 4px #c4c6c8;
        background: #fff;
        margin-bottom: 12px;
        display: -webkit-flex;
        display: flex;
        padding: 8px 0;
        .dv_items {
            flex-grow: 1;
            text-align: center;
            i {
                font-size: 2.4rem;
                font-weight: bolder;
            }
            p {
                margin: 6px 0 !important;
                color: #636363;
            }
        }
    }
    ion-list {
        margin-bottom: 0 !important;
        border-bottom: 1px solid #eaeaea;
        ion-list-header {
            margin-bottom: 0 !important;
        }
        i {
            font-style: normal;
            font-size: 0.9rem !important;
        }
        p {
            font-size: 1.5rem !important;
            font-weight: bold;
            span {
                font-size: 1rem !important;
            }
        }
    }
    .dv_hot_q {
        margin-bottom: 12px;
        box-shadow: 0 1px 4px #c4c6c8;
        background: #fff;
    }
    .dv_item {
        width: 100%;
        background: #fff;
        box-shadow: 0 1px 4px #c4c6c8;
        margin-bottom: 8px;
        padding: 2% 3.5%;
        overflow: hidden;
        h6 {
            font-size: 1.6rem;
            line-height: 2rem;
            margin: 12px 0;
        }
        p {
            margin: 0;
            font-size: 1.2rem;
            line-height: 1.5rem;
            color: #4f5254;
        }
    }
    .dv_item {
        width: 100%;
        background: #fff;
        box-shadow: 0 1px 4px #c4c6c8;
        margin-bottom: 0px;
        padding: 2% 3.5%;
        overflow: hidden;
        h6 {
            font-size: 1.6rem;
            line-height: 2rem;
            margin: 12px 0;
        }
        p {
            margin: 0;
            font-size: 1.2rem;
            line-height: 1.5rem;
            color: #4f5254;
        }
    }
    .dv_item_head {
        width: 100%;
        height: 30px;
        color: #c8ced1;
        img {
            float: left;
            width: 30px;
            height: 30px;
            border-radius: 99999px;
            display: inline-block;
            margin-right: 5px;
        }
        p {
            line-height: 30px;
        }
    }
    .dv_item_banner {
        width: 100%;
        height: 150px;
        background-size: cover;
        margin-top: 6px;
    }
    .dv_item_bottom {
        line-height: 36px;
        color: #c8ced1;
        p {
            line-height: 38px;
        }
    }
    .dv_item_bottom {
        line-height: 36px;
        color: #c8ced1;
        p {
            line-height: 38px;
        }
    }
}