<ion-header>

    <ion-navbar color="bule">
        <ion-title>评论</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <section class="dv_list">
        <section class="dv_list">
            <!--重复-->
            <section class="dv_item">
                <section class="dv_item_head" (click)="pushPersonPage( data.uid );">
                    <img [src]="data.userimg" />
                    <p>{{data.name}}</p>
                </section>

                <p>{{data.text}}</p>
                <section class="dv_item_bottom">
                    <p class="fl">{{data.time | date }}</p>
                    <p class="fr mess" (click)="sendComment( '@'+data.name, data._id, data.name, data.uid, data._id, '' );">回复</p>
                </section>
            </section>

        </section>

    </section>
    <ion-list [hidden]="ishide">
        <ion-list-header>
            评论列表 ⬇️️️⬇️️️⬇️️️
        </ion-list-header>
    </ion-list>
    <section class="dv_list">
        <!--重复-->
        <section class="dv_item" *ngFor="let item of data.commarr">
            <section class="dv_item_head" (click)="pushPersonPage( item.uid );">
                <img [src]="item.userimg" />
                <p>{{item.name}}</p>
            </section>

            <p>{{item.text}}<span *ngIf="item.reply && item.reply != ''"> // <a href="javascript:;" (click)="pushPersonPage( item.targetid );">{{item.targetname}}</a>: {{item.reply}}</span></p>
            <section class="dv_item_bottom">
                <p class="fl">{{item.time | date }}</p>
                <p class="fr mess" (click)="sendComment( '@'+item.name, data._id, item.name, item.uid, data._id, item.text );">回复</p>
            </section>
        </section>

    </section>

</ion-content>

<ion-footer no-border (click)="sendComment( '@'+data.name, data._id, data.name, data.uid, data._id, '' )">
    <ion-grid class="input-wrap">
        <ion-row>

            <ion-col col-10>
                <ion-textarea #chat_input disabled='true' placeholder="我要评论..."></ion-textarea>
            </ion-col>
            <ion-col col-2>
                <button ion-button clear icon-only item-right>
                    <ion-icon  name="ios-send" ios="ios-send" md="md-send"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>